header {
    display: flex;
    justify-content: space-evenly;
}
.gameboards {
    display: flex;
    justify-content: space-evenly;
}
.battleship {
    height: 600px;
}

.gameboard, .hitboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: none;
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.hit-item {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.r-0, .c-0 {
    background-color: white;
}

.grid-item:hover {
    background-color: blue;
}
.hit-item:hover {
    background-color: red;
}

.r-0:hover, .c-0:hover {
    background-color: white;
}

.ship {
    border: 1px solid cyan;
    background-color: cyan;
}

.scores {
    display: flex;
}

.score {
    margin: 25px;
}
