header {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.gameboards {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.battleship {
    height: 600px;
}

.gameboard, .hitboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: none;
}

.hitboard {
    width: 500px;
    height: 500px;
    display: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: none;
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.hit-item {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}


.grid-item:hover {
    background-color: blue;
}
.hit-item:hover {
    background-color: red;
}

.ship {
    border: 1px solid cyan;
    background-color: cyan;
}

.scores {
    display: flex;
}

.score {
    margin: 25px;
}

.ship {
    background-color: gray;
}
#ship-holding-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    height: 33px;
}
.ship {
    display: flex;
    flex-direction: row;
    cursor: grab;
}
.ship .segment {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: gray;
}